header img {
height: 300px;
width: 50%;
object-fit: cover;
}


@media (max-width: 768px) {
    header img {
      width: 200px; /* Reduce el ancho del logo */
      height: auto; /* Ajusta proporcionalmente la altura */
      margin-bottom: 10px; /* Ajusta el margen inferior */
    }
  }
  