footer {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

footer .socials a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer .socials a:hover {
  text-decoration: underline;
}


footer .socials {
  margin-top: 20px; /
}